<!DOCTYPE html>
<html>

<head>
    <title>resolveDesk - Raise Ticket</title>
</head>

<body>

    <h1>Raise Ticket</h1>

    <form method="post" action="/tickets/create">

        <label>Title:</label>

        <br>

        <input
            type="text"
            name="title"
            required
        >

        <br><br>


        <label>Description:</label>

        <br>

        <textarea
            name="description"
            rows="5"
            cols="40"
            required
        ></textarea>

        <br><br>


        <label>Priority:</label>

        <br>

        <select name="priority_id" required>

            <option value="" disabled selected>
                Select Priority
            </option>

            {% for priority in priorities %}

                <option value="{{ priority.id }}">
                    {{ priority.value }}
                </option>

            {% endfor %}

        </select>

        <br><br>


        <button type="submit">
            Create Ticket
        </button>

    </form>

    <br>

    <a href="/dashboard">
        Back to Dashboard
    </a>

</body>

</html>