{% extends "base.html" %}

{% block title %}
resolveDesk - Register
{% endblock %}

{% block content %}

    <h1>Create Account</h1>
    {% if error == "email_exists" %}

    <p>
        Email already registered. Please use another email.
    </p>

{% endif %}

    <form method="post" action="/register">

        <label>Name:</label>
        <input
            type="text"
            name="name"
            required
        >

        <br><br>

        <label>Email:</label>
        <input
            type="email"
            name="email"
            required
        >

        <br><br>

        <label>Password:</label>
        <input
            type="password"
            name="password"
            required
        >

        <br><br>

        <label>Role:</label>

        <select name="role_id" required>

            {% for role in roles %}

                <option value="{{ role.id }}">
                    {{ role.value }}
                </option>

            {% endfor %}

        </select>

        <br><br>

        <button type="submit">
            Register
        </button>
        <p>Already have an account? <a href="/login">Login here</a></p>

    </form>

{% endblock %}