<!DOCTYPE html>
<html>

<head>
    <title>resolveDesk - Staff Dashboard</title>
</head>

<body>

    <h1>Staff Dashboard</h1>

    <h2>Welcome, {{ user.name }}</h2>

    <form method="post" action="/logout">

        <button type="submit">
            Logout
        </button>

    </form>

    <hr>

    <h2>All Tickets</h2>

    {% if tickets %}

    <table border="1">

        <thead>

            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Created By</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Assigned To</th>
                <th>Action</th>
                <th>Comments</th>
                <th>Created At</th>
            </tr>

        </thead>

        <tbody>

            {% for ticket in tickets %}

            <tr>

                <!-- Ticket ID -->

                <td>
                    {{ ticket.id }}
                </td>


                <!-- Ticket Title -->

                <td>
                    {{ ticket.title }}
                </td>

                <!-- Ticket Description -->
                <td>{{ ticket.description }}</td>


                <!-- Ticket Creator -->

                <td>
                    {{ ticket.creator.name }}
                </td>


                <!-- Priority -->

                <td>
                    {{ ticket.priority.value }}
                </td>


                <!-- Status -->

                <td>
    <form method="post" action="/admin/tickets/{{ ticket.id }}/status">

        <select name="status_id">

            {% for status in statuses %}

                <option value="{{ status.id }}"
                    {% if ticket.status_id == status.id %}selected{% endif %}>
                    {{ status.value }}
                </option>

            {% endfor %}

        </select>

        <button type="submit">Save</button>

    </form>
</td>


                <!-- Assigned Staff -->

                <td>

                    {% if ticket.assignee %}

                    {{ ticket.assignee.name }}

                    {% else %}

                    Not Assigned

                    {% endif %}

                </td>


                <!-- Assignment -->

                <td>

                    <form method="post" action="/admin/tickets/{{ ticket.id }}/assign">

                        <select name="assigned_to">

                            <!-- Remove assignment -->

                            <option value="">
                                Not Assigned
                            </option>


                            <!-- Staff available for THIS ticket -->

                            {% for staff in available_staff_by_ticket[ticket.id] %}

                            <option value="{{ staff.id }}" {% if ticket.assigned_to==staff.id %} selected {% endif %}>

                                {{ staff.name }}

                            </option>

                            {% endfor %}

                        </select>


                        <button type="submit">
                            Save
                        </button>

                    </form>

                </td>

                <!-- comment -->
                <td>
                    <a href="/tickets/{{ ticket.id }}">
                        <button type="button">Comments</button>
                    </a>
                </td>


                <!-- Created Date -->

                <td>
                    {{ ticket.created_at.strftime("%d-%m-%Y %I:%M %p") }}
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

    {% else %}

    <p>
        No tickets available.
    </p>

    {% endif %}

</body>

</html>